#nameTitle {
    padding-left: 50px;
}

#nameP {
    font-size: 34px;
}

#listDiv {
    padding-left:50px ;
}

#uList {
    padding-right:50px ;
}

#oList {
    padding-left:50px ;
}

#megamind {
    padding-left:50px ;
}