#nameTitle {

}

#nameP {
    font-size: 34px;
    width: 200px;
    margin-left: auto;
}

#listDiv {

}

#uList {

}

#oList {

}

#megamind {

}

body {
    background-color: lightgray;
}

table {
    width: 50%;
    margin: auto;
    border-collapse: collapse;
}

th, td {
      border: 1px solid black;
      padding: 8px;
      text-align: center;
    }